@model Demo.Models.UsersAccount

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>UsersAccount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Transection_Money)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transection_Money)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransectionType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransectionType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.F_P_AccNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.F_P_AccNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsApproved_old)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsApproved_old)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsApproved_new)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsApproved_new)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFraud_old)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFraud_old)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsFraud_new)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsFraud_new)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccountTypeForOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountTypeForOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreditRatingForOne)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditRatingForOne)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserIPAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserIPAddress)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
